@font-face {
  font-family: "Anton";
  src: url("../../src/fonts/Anton/Anton-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: "Roboto";
  src: url("../../src/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../src/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}